<nav class="navbar navbar-inverse">
     <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/">Syst</a>
      <li role="presentation"><a href="#">Главная</a></li>
      <li role="presentation"><a href="#">Системы</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li role="presentation"><%=link_to 'Вход',new_user_session_path%></li>
      <li role="presentation"><%=link_to 'Регистрация',new_user_registration_path%></li>
    </ul>
</nav>